* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  
  /* border: Solid; */
  height: 98vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  /* border: solid;
   */
   box-shadow: 4px 4px 40px 6px rgba(12, 12, 12,0.4);
   border-radius: 20px;
   padding: 30px 10px;
  height: 75vh;
  width: 60vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  flex-direction: column;

}

label {
  display: flex;
  flex-direction: column;
  /* border: solid; */
  width: 50vh;

}

.text {
  height: 6vh;
  font-size: 90%;
  letter-spacing: 2px;
}

#Note {
  height: 30vh;
  font-size: 20px;
  letter-spacing: 2px;
}

.save-text {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}